<div class="header">
  <h1>Check your password's strength</h1>
  <ul>
    <li>Rools:</li>
    <li>Password should be longer than 8 chars</li>
    <li>Use digits, letters and symbols</li>
    <li>
      <span style="color: grey">Grey</span> - enter the password
    </li>
    <li>
      <span style="color: red">Red</span> - weak password
    </li>
    <li>
      <span style="color: yellow">Yellow</span> - medium password
    </li>
    <li>
      <span style="color: green">Green</span> - strong password
    </li>
  </ul>
</div>
<div class="input-container">
  <input type="password" class="custom-input" placeholder="Enter your password" 
    [(ngModel)]="password" (ngModelChange)="validatePassword()" 
  />
</div>
<div class="circles">
  <div class="circle" [style]="getLineColorStyle(1)"></div>
  <div class="circle" [style]="getLineColorStyle(2)"></div>
  <div class="circle" [style]="getLineColorStyle(3)"></div>
</div>


