.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.custom-input {
    margin-top: 20px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}
  